@import 'variables';

@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold_gdi.eot'),
        url('../fonts/Gotham-Bold_gdi.woff') format('woff'),
        url('../fonts/Gotham-Bold_gdi.ttf') format('truetype'),
        url('../fonts/Gotham-Bold_gdi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Medium';
    src: url('../fonts/Gotham-Medium_gdi.eot'),
        url('../fonts/Gotham-Medium_gdi.woff') format('woff'),
        url('../fonts/Gotham-Medium_gdi.ttf') format('truetype'),
        url('../fonts/Gotham-Medium_gdi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Thin';
    src: url('../fonts/Gotham-Thin_gdi.eot'),
        url('../fonts/Gotham-Thin_gdi.woff') format('woff'),
        url('../fonts/Gotham-Thin_gdi.ttf') format('truetype'),
        url('../fonts/Gotham-Thin_gdi.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, .h4 {
    font-family: 'Gotham-Medium';
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 20px; margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin-top: 0; margin-bottom: 10px;
}

h3, .h3 {
    font-size: 16px;
    margin-top: 0; margin-bottom: 10px;
}

h4, .h4 {
    color: $primary-color;
    font-size: 14px;
    margin: 0;
}

p, .p {
    color: $secondary-color;
    font-family: 'Georgia';
    font-size: 14px;
    font-style: italic;
    letter-spacing: normal;
}